@using GatePass.MS.Domain.ViewModels

@model UserActivityReportModel

@{
    ViewBag.Title = "User Activity Report";

}
<div class="container-worap">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">

                    <form asp-action="UserActivityReport" method="get" class="row mb-4">
                        <div class="col-md-3 form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" id="startDate" name="startDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")" class="form-control" />
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="endDate">End Date:</label>
                            <input type="date" id="endDate" name="endDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SelectedUserId">Select User</label>
                            <select asp-for ="SelectedUserId" class="form-control" asp-items="Model.Users">
                                <option value="">All Users</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <button type="submit" class="btn btn-success mt-4">Filter <i class="fa fa-filter"></i></button>
                        </div>

                    </form>
                </div>
                <!-- /.card-header -->

                <div class="card-body table-responsive p-0" style="height: 420px;">
                    <table id="myDataTable" class="table table-bordered table-striped table-head-fixed">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>User Id</th>
                                <th>Activity Type</th>
                                <th>Activity Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var activity in Model.Activities)
                            {
                                <tr>
                                    <td>@activity.Timestamp.ToString("MMM d, yyyy h:mm tt")</td>
                                    <td>@activity.UserName</td>
                                    <td>@activity.ActivityType</td>
                                    <td>@activity.ActivityDescription</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
<!-- /.row -->


