@model IEnumerable<GatePass.MS.Domain.Employee>
@using GatePass.MS.ClientApp.Data
@using GatePass.MS.Domain
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext context
@{
     var companyName = ViewContext.RouteData.Values["companyName"]?.ToString();

    ViewData["Title"] = "EployeeList";
}


 


<div class="card-body table-responsive p-0">
    <table id="myDataTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Localizer["fullName"]
                </th>

                <th>
                    @Localizer["email"]
                </th>


                <th>
                    @Localizer["department"]
                </th>
                <th>
                    @Localizer["designation"]
                </th>
                <th> @Localizer["action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation.Name)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var isInAdminRole = await UserManager.IsInRoleAsync(user, "Admin");
                            var userAccount=context.Users.FirstOrDefault(u => u.EmployeeId == item.Id );
                            if (isInAdminRole && userAccount != null)
                            {
                                <span  class="badge badge-primary">@Localizer["already Registered"]</span>

                            }
                            else if (isInAdminRole && userAccount==null )
                            {

                                <a asp-area="Identity" asp-route-companyName="@companyName" asp-page="/Account/Register" class="badge badge-primary" asp-route-employeeId="@item.Id">@Localizer["createAccount"]</a>
                            }
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

}
